# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Secrets
config.py

# Audio files
*.wav
*.mp3

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db

# Test / temporary files
*_test.py